body {
    font-family: Arial, sans-serif;
    background: #f6faff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
    color: #222;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #777777;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover {
    background: #777777;
}

form {
    margin-top: 15px;
    text-align: left;
}

form label {
    display: block;
    margin: 8px 0 4px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

form button {
    width: 100%;
    padding: 10px;
    background: #777777;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background: #777777;
}

.hasil {
    margin-top: 20px;
    background: #eaf4ff;
    padding: 15px;
    border-radius: 6px;
    border-left: 5px solid #777777;
    text-align: left;
}
