body {
  font-family: Arial, sans-serif;
  background-color: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  width: 350px;
}

h2 {
  text-align: center;
  color: #060606;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

.hasil {
  background-color: #ababab;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.hasil h3 {
  margin-top: 0;
  color: #000000;
}
