body {
  font-family: Arial, sans-serif;
  background: #f5faff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  background: #777777;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 96%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #777777 !important;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #777777;
}

.hasil {
  margin-top: 15px;
  padding: 10px;
  background: #ffffff;
  border-left: 5px solid #000000;
}
