body {
  font-family: Arial, sans-serif;
  background: #f4f8ff;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  background: white;
  width: 450px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  background: #00fbff;
  padding: 10px;
  border-radius: 5px;
  color: #000;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin: 6px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #0f8e01;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.hasil {
  margin-top: 20px;
  padding: 15px;
  background: #00f2ff;
  border-radius: 5px;
}

.hasil p {
  margin: 0;
}
